---
export const partial = true
---

<section id="work-item" class="work-container">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-10 col-lg-offset-1">
        <!-- Work Title -->
        <h1 class="work-full-title">Дислокація</h1>
        <!-- Work Categories -->
        <div class="work-descr">Офіційний кліп, 2013</div>
        <!-- Work Photo or Video -->
        <div class="work-full-media">
          <div class="fluid-width-video-wrapper" style="padding-top: 56.25%;">
            <iframe
              src="//www.youtube.com/embed/DNbpRYdbTEs?list=UUvR9_0lh0zZmFPHp8D8HLUg"
              allowfullscreen=""
              id="fitvid671525"></iframe>
          </div>
        </div>
        <!-- Work Text -->
        <div class="work-full-text">
          <div class="row">
            <!-- Project Detail -->
            <div class="col-md-4 col-lg-4">
              <div class="work-detail">
                <h6 class="uppercase">Деталі</h6>
                <div class="work-full-detail">
                  <p><b>Режисер:&nbsp;</b>Олег Варфоломєєв</p><p>
                    <b>Оператор:&nbsp;</b>Сергій Варфоломєєв
                  </p><p><b>Креативний продюсер:&nbsp;</b>В'ячеслав Єгоров</p><p>
                    <b>Продакшн:&nbsp;</b>
                    <a class="usually" href="http://fintstudio.com" target="_blank">Студія «ФІНТ»</a
                    >
                  </p>
                </div>
              </div>
            </div>
            <!-- End Project Detail -->
            <!-- About Project -->
            <div class="col-md-8 col-lg-8">
              <h6 class="uppercase">Про кліп</h6>
              <div class="text-block">
                <p>
                  Робота над кліпом була почата в червні 2013 року. З декількох сценаріїв&nbsp;було
                  відібрано той варіант, який, на спільну думку, максимально точно відображав
                  характер гурту в його дебютному відеокліпі. Зйомки проводилися в період з
                  24&nbsp;червня по 4 липня в Ужгороді та ужгородському районі. На
                  початку&nbsp;серпня закінчилась обробка матеріалу і кліп було офіційно
                  представлено.
                </p><p>
                  Олег Варфаломєєв, режисер:<br />&nbsp;- Мені хотілося показати в кліпі, з одного
                  боку, енергію та впевненість гурту Триставісім,&nbsp;а з іншого - одвічні пошуки
                  свого шляху, характерні для любого розвиваючогося творчого колективу.
                </p><p>
                  Ідея та звучання композиції визрівали тривалий час протягом численних концертів та
                  джем-сейшенів, які їх супроводжували. В пісні можна простежити переплетіння різних
                  музичних&nbsp;вподобань музикантів: джазові та балканські мотиви в партіях труби,
                  нестандартні ритмічні партії&nbsp;ударних, ліричні відступи акордеону з присмаком
                  драми та містики, драйвові гітарні рифи.&nbsp;Сама ж ідея композиції — відволікти
                  слухача від буднів та рутини, розповівши кілька простих історій та&nbsp;зануривши
                  його в атмосферу колоритної шаленості та драйву, які народжуються в Карпатському
                  краї.
                </p><p>
                  Пісня «Дислокація» є синглом з альбому «Перча», виданий гуртом навесні 2013 року.
                </p>
              </div>
            </div>
            <!-- End About Project -->
          </div>
          <!-- Button -->
          <div class="work-full-action">
            <a
              href="/download/Триста8ісім-Дислокація.mp3"
              class="btn btn-spacia btn-color btn-medium download-file-work">Скачати пісню</a
            >
          </div>
          <!-- End Button -->
        </div>
        <!-- End Work Text -->
      </div>
    </div>
  </div>
</section>
