---
import PageLayout from '../../layouts/EnPageLayout.astro'
---

<PageLayout>
  <section
    style="background-image: url(/trystavisim/images/full-width-images/concert-bg-min.jpg)"
    class="page-section padding-bot-null margin-bot dark-bg image-bg"
  >
    <div class="bg-overlay-2"></div>
    <div class="container bg-content">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
          <div class="section-title">Афіша</div>
          <h1 class="section-heading">Архів концертів</h1>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#year2016" data-toggle="pill">2016</a></li>
            <li><a href="#year2015" data-toggle="pill">2015</a></li>
            <li><a href="#year2014" data-toggle="pill">2014</a></li>
            <li class=""><a href="#year2013" data-toggle="pill">2013</a></li>
            <li class=""><a href="#year2012" data-toggle="pill">2012</a></li>
            <li class=""><a href="#year2011" data-toggle="pill">2011</a></li>
          </ul>
          <br />
          <br />

          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane active" id="year2016">
              <div class="row">
                <div class="col-sm-4">
                  <p class="h4 serif">
                    <a href="https://trystavisim.com/en/Tour-Dates/Verbyazh-Zakarpatska-obl"
                      >12&nbsp;August</a
                    >
                  </p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">Verbyazh, Zakarpatska obl.</p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">
                    <a target="_blank" href="http://goloskarpat.info/culture/5975cae137e25/"
                      >Cimbor Fest</a
                    >
                  </p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-4">
                  <p class="h4 serif">
                    <a href="https://trystavisim.com/en/Tour-Dates/Lymshory-Zakarpatska-obl"
                      >06&nbsp;August</a
                    >
                  </p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">Lymshory, Zakarpatska obl.</p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">
                    <a target="_blank" href="https://www.facebook.com/wwfest">Wild Wild Fest</a>
                  </p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-4">
                  <p class="h4 serif">
                    <a href="https://trystavisim.com/en/Tour-Dates/Zalishchyky-Ternopilska-obl"
                      >15&nbsp;July</a
                    >
                  </p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">Zalishchyky, Ternopilska obl.</p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">
                    <a target="_blank" href="https://vk.com/zalfest">ZalishchykyFEST</a>
                  </p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-4">
                  <p class="h4 serif">
                    <a href="https://trystavisim.com/en/Tour-Dates/Ternopil4">08&nbsp;July</a>
                  </p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">Ternopil</p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">
                    <a target="_blank" href="https://moemisto.ua/te/korop-fest-54759.html"
                      >Korop Fest</a
                    >
                  </p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-4">
                  <p class="h4 serif">
                    <a href="https://trystavisim.com/en/Tour-Dates/Irshava-Transcarpathia-Region2"
                      >23&nbsp;April</a
                    >
                  </p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">Irshava, Transcarpathia Region</p>
                </div>
                <div class="col-sm-4">
                  <p class="h5"><a target="_blank" href=""></a></p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-4">
                  <p class="h4 serif">
                    <a href="https://trystavisim.com/en/Tour-Dates/Irshava-Transcarpathia-Region"
                      >01&nbsp;October</a
                    >
                  </p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">Irshava, Transcarpathia Region</p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">
                    <a
                      target="_blank"
                      href="http://festyvali.com.ua/index.php/item/1104-u-chernivtsiakh-startuvav-mizhnarodnyi-poetychnyi-festyval-meridian-czernowitz-2016"
                      >Festival «INSHA PLANETA»</a
                    >
                  </p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-4">
                  <p class="h4 serif">
                    <a href="https://trystavisim.com/en/Tour-Dates/Dubrynychi-Transcarpathia-Region"
                      >24&nbsp;September</a
                    >
                  </p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">Dubrynychi, Transcarpathia Region</p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">
                    <a target="_blank" href="">Festival "Perechynshina Calls For Talants "</a>
                  </p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-4">
                  <p class="h4 serif">
                    <a href="https://trystavisim.com/en/Tour-Dates/Rodatychi-Lviv-region"
                      >19&nbsp;August</a
                    >
                  </p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">Rodatychi, Lviv region</p>
                </div>
                <div class="col-sm-4">
                  <p class="h5"><a target="_blank" href="http://zaxidfest.com/">«ZAXIDFEST»</a></p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-4">
                  <p class="h4 serif">
                    <a href="https://trystavisim.com/en/Tour-Dates/Ivanistsi-Transcarpathia"
                      >07&nbsp;August</a
                    >
                  </p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">Ivanistsi, Transcarpathia</p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">
                    <a target="_blank" href="https://new.vk.com/ivanuvci">«Vychurky u Ivanuvstah»</a
                    >
                  </p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-4">
                  <p class="h4 serif">
                    <a href="https://trystavisim.com/en/Tour-Dates/Lumshory">05&nbsp;August</a>
                  </p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">Lumshory</p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">
                    <a target="_blank" href="https://www.facebook.com/events/808508339284884/"
                      >«Wild Wild Fest»</a
                    >
                  </p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-4">
                  <p class="h4 serif">
                    <a href="https://trystavisim.com/en/Tour-Dates/Swirzh-Castle">30&nbsp;July</a>
                  </p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">Swirzh Castle</p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">
                    <a target="_blank" href="http://www.woodstock.in.ua/">«Woodstock Ukraine»</a>
                  </p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-4">
                  <p class="h4 serif">
                    <a href="https://trystavisim.com/en/Tour-Dates/Novodnistrovsk">09&nbsp;July</a>
                  </p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">Novodnistrovsk</p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">
                    <a target="_blank" href="https://new.vk.com/dnisterfest">«Dnister Fest»</a>
                  </p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-4">
                  <p class="h4 serif">
                    <a href="https://trystavisim.com/en/Tour-Dates/Uzhgorod6">08&nbsp;July</a>
                  </p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">Uzhgorod</p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">
                    <a target="_blank" href="http://prozahid.com/content-30252.html"
                      >«Music Bike Ukraine»</a
                    >
                  </p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-4">
                  <p class="h4 serif">
                    <a href="https://trystavisim.com/en/Tour-Dates/Ternopil3">07&nbsp;July</a>
                  </p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">Ternopil</p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">
                    <a target="_blank" href="http://fainemisto.com.ua/">Festival «Faine Misto»</a>
                  </p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-4">
                  <p class="h4 serif">
                    <a href="https://trystavisim.com/en/Tour-Dates/Olivye-House-Uzhgorod"
                      >30&nbsp;June</a
                    >
                  </p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">Olivye House, Uzhgorod</p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">
                    <a
                      target="_blank"
                      href="https://www.facebook.com/events/1050255538375564/1053570108044107"
                      >#saveZhenya</a
                    >
                  </p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-4">
                  <p class="h4 serif">
                    <a href="https://trystavisim.com/en/Tour-Dates/Chernivtsi">19&nbsp;June</a>
                  </p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">Chernivtsi</p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">
                    <a target="_blank" href="http://www.obnova-fest.cv.ua/">Обнова-фест</a>
                  </p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-4">
                  <p class="h4 serif">
                    <a href="https://trystavisim.com/en/Tour-Dates/Velyatyno-Transcarpathia"
                      >11&nbsp;June</a
                    >
                  </p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">Velyatyno, Transcarpathia</p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">
                    <a target="_blank" href="http://www.khust.today/NewsOpen/id_news_50638"
                      >Ethnofestival Kosariv</a
                    >
                  </p>
                </div>
              </div>
              <hr />
            </div>

            <div class="tab-pane" id="year2015">
              <div class="row">
                <div class="col-sm-4">
                  <p class="h4 serif">
                    <a href="https://trystavisim.com/en/Tour-Dates/Ivano-Frankivsk-UA"
                      >23&nbsp;August</a
                    >
                  </p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">Ivano-Frankivsk (UA)</p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">
                    <a target="_blank" href="http://ole-dovbush.in.ua/">Ole Dovbush Festival</a>
                  </p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-4">
                  <p class="h4 serif">
                    <a
                      href="https://trystavisim.com/en/Tour-Dates/Lemkowska-Watra-na-Obczyznie-Poland"
                      >08&nbsp;August</a
                    >
                  </p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">Łemkowska Watra na Obczyźnie (Poland)</p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">
                    <a target="_blank" href="http://www.watramichalow.pl/pl/wykonawcy/trystawisim/"
                      >Festival - Łemkowska Watra na Obczyźnie</a
                    >
                  </p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-4">
                  <p class="h4 serif">
                    <a href="https://trystavisim.com/en/Tour-Dates/Ukraine-Lumshory"
                      >01&nbsp;August</a
                    >
                  </p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">Ukraine, Lumshory</p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">
                    <a target="_blank" href="https://www.facebook.com/events/1601316583490198/"
                      >Wild Wild Fest 2015</a
                    >
                  </p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-4">
                  <p class="h4 serif">
                    <a href="https://trystavisim.com/en/Tour-Dates/Big-Show-In-Lviv2"
                      >20&nbsp;June</a
                    >
                  </p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">Big Show In Lviv</p>
                </div>
                <div class="col-sm-4">
                  <p class="h5"><a target="_blank" href="">Lviv, bike party</a></p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-4">
                  <p class="h4 serif">
                    <a href="https://trystavisim.com/en/Tour-Dates/Dovhe">14&nbsp;June</a>
                  </p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">Dovhe</p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">
                    <a target="_blank" href="https://www.facebook.com/events/1601316583490198/"
                      >Dovzhanska Fira 2015 Festival</a
                    >
                  </p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-4">
                  <p class="h4 serif">
                    <a href="https://trystavisim.com/en/Tour-Dates/Mukachevo">31&nbsp;May</a>
                  </p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">Mukachevo</p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">
                    <a target="_blank" href="http://vk.com/event94991260">Concert at Barry Barr's</a
                    >
                  </p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-4">
                  <p class="h4 serif">
                    <a href="https://trystavisim.com/en/Tour-Dates/Uzhgorod5">31&nbsp;May</a>
                  </p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">Ужгород</p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">
                    <a
                      target="_blank"
                      href="https://www.facebook.com/pages/%D0%94%D0%B5%D0%BD%D1%8C-%D0%92%D1%83%D0%BB%D0%B8%D1%87%D0%BD%D0%BE%D1%97-%D0%9C%D1%83%D0%B7%D0%B8%D0%BA%D0%B8-%D0%A3%D0%B6%D0%B3%D0%BE%D1%80%D0%BE%D0%B4/374077882781252"
                      >Concert at Street Music Day</a
                    >
                  </p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-4">
                  <p class="h4 serif">
                    <a href="https://trystavisim.com/en/Tour-Dates/Big-Show-In-Lviv"
                      >23&nbsp;April</a
                    >
                  </p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">Big Show In Lviv</p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">
                    <a
                      target="_blank"
                      href="https://www.facebook.com/club.arsenalmarket.lviv/info?tab=overview"
                      >Lviv, Pid Arsenalom Club</a
                    >
                  </p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-4">
                  <p class="h4 serif">
                    <a href="https://trystavisim.com/en/Tour-Dates/Big-Show-In-Kyiv"
                      >13&nbsp;March</a
                    >
                  </p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">Big Show In Kyiv</p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">
                    <a target="_blank" href="http://vk.com/metropol_live_stage"
                      >Kyiv, Metropol Club</a
                    >
                  </p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-4">
                  <p class="h4 serif">
                    <a href="https://trystavisim.com/en/Tour-Dates/Big-Show-In-Uzhgorod"
                      >27&nbsp;February</a
                    >
                  </p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">Big Show In Uzhgorod</p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">
                    <a
                      target="_blank"
                      href="https://www.google.com.ua/search?client=ubuntu&channel=fs&q=%D0%BA%D0%BB%D1%83%D0%B1+%D1%84%D0%B0%D0%BD%D1%82%D0%BE%D0%BC+%D1%83%D0%B6%D0%B3%D0%BE%D1%80%D0%BE%D0%B4&ie=utf-8&oe=utf-8&gfe_rd=cr&ei=GFLLVMTMHZSu8wf2hIDoDw"
                      >Uzhgorod, Phantom Club</a
                    >
                  </p>
                </div>
              </div>
              <hr />
            </div>
            <div class="tab-pane" id="year2014">
              <div class="row">
                <div class="col-sm-4">
                  <p class="h4 serif">
                    <a href="https://trystavisim.com/en/Tour-Dates/Uzhgorod4">23&nbsp;November</a>
                  </p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">Uzhgorod</p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">
                    <a target="_blank" href="http://cs618331.vk.me/v618331801/fe7c/arnzJBFU4Zs.jpg"
                      >«Vechirniy Varosh» by «Nasha Faita»</a
                    >
                  </p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-4">
                  <p class="h4 serif">
                    <a href="https://trystavisim.com/en/Tour-Dates/Uzhgorod3">01&nbsp;September</a>
                  </p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">Uzhgorod</p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">
                    <a target="_blank" href="">Concert at Uzhgorod National University</a>
                  </p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-4">
                  <p class="h4 serif">
                    <a href="https://trystavisim.com/en/Tour-Dates/Ivano-Frankivsk"
                      >23&nbsp;August</a
                    >
                  </p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">Ivano-Frankivsk</p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">
                    <a target="_blank" href="http://ole-dovbush.in.ua">Ole Dovbush Festival</a>
                  </p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-4">
                  <p class="h4 serif">
                    <a href="https://trystavisim.com/en/Tour-Dates/Uzhgorod-Dukhnivicha-Square"
                      >22&nbsp;August</a
                    >
                  </p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">Uzhgorod, Dukhnivicha Square</p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">
                    <a target="_blank" href="http://vk.com/wall-18341624_4175">Uzhgorod Bike Day</a>
                  </p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-4">
                  <p class="h4 serif">
                    <a href="https://trystavisim.com/en/Tour-Dates/Ivanivtsi">17&nbsp;August</a>
                  </p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">Ivanivtsi</p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">
                    <a target="_blank" href="http://vk.com/ivanuvci"
                      >Vychurky V Ivanivtsiah Festival</a
                    >
                  </p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-4">
                  <p class="h4 serif">
                    <a href="https://trystavisim.com/en/Tour-Dates/Hortobagy-Mata-Hungary"
                      >16&nbsp;August</a
                    >
                  </p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">Hortobágy-Máta, Hungary,</p>
                </div>
                <div class="col-sm-4">
                  <p class="h5"><a target="_blank" href="">Hortobágy Club Hotel</a></p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-4">
                  <p class="h4 serif">
                    <a href="https://trystavisim.com/en/Tour-Dates/Rodatuchi-Lviv-Oblast"
                      >09&nbsp;August</a
                    >
                  </p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">Rodatuchi, Lviv Oblast</p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">
                    <a target="_blank" href="http://zaxidfest.com/desktop.html#lineup-day2"
                      >ZAHID Festival</a
                    >
                  </p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-4">
                  <p class="h4 serif">
                    <a href="https://trystavisim.com/en/Tour-Dates/Zhdynia-Poland">18&nbsp;July</a>
                  </p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">Zhdynia (Poland)</p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">
                    <a
                      target="_blank"
                      href="http://www.watrazdynia.pl/index.php?option=com_content&view=article&id=94&Itemid=103"
                      >Lemkiwska Watra Festival in Zhdynia</a
                    >
                  </p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-4">
                  <p class="h4 serif">
                    <a href="https://trystavisim.com/en/Tour-Dates/Ternopil">12&nbsp;July</a>
                  </p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">Ternopil</p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">
                    <a target="_blank" href="http://vk.com/faine_misto_fest">Faine Misto Festival</a
                    >
                  </p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-4">
                  <p class="h4 serif">
                    <a href="https://trystavisim.com/en/Tour-Dates/Kiev">05&nbsp;July</a>
                  </p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">Kiev</p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">
                    <a target="_blank" href="http://www.krainamriy.com/">Kraina Mriy Festival</a>
                  </p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-4">
                  <p class="h4 serif">
                    <a href="https://trystavisim.com/en/Tour-Dates/Kiev2">04&nbsp;July</a>
                  </p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">Kiev</p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">
                    <a target="_blank" href="http://www.festrestdivan.com.ua/">Divan Club</a>
                  </p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-4">
                  <p class="h4 serif">
                    <a href="https://trystavisim.com/en/Tour-Dates/Dubovyshche">28&nbsp;June</a>
                  </p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">Dubovyshche</p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">
                    <a target="_blank" href="http://vk.com/malovanka">Maliovanka Festival</a>
                  </p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-4">
                  <p class="h4 serif">
                    <a href="https://trystavisim.com/en/Tour-Dates/Lutsk">31&nbsp;May</a>
                  </p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">Lutsk</p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">
                    <a target="_blank" href="https://vk.com/korablyk">Korablyk Club</a>
                  </p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-4">
                  <p class="h4 serif">
                    <a href="https://trystavisim.com/en/Tour-Dates/Khmelnytsky">30&nbsp;May</a>
                  </p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">Khmelnytsky</p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">
                    <a target="_blank" href="https://vk.com/secretnij_shtab">Shab Club</a>
                  </p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-4">
                  <p class="h4 serif">
                    <a href="https://trystavisim.com/en/Tour-Dates/Lviv">10&nbsp;May</a>
                  </p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">Lviv</p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">
                    <a target="_blank" href="https://vk.com/latchoingasstation"
                      >The Gas Station Club</a
                    >
                  </p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-4">
                  <p class="h4 serif">
                    <a href="https://trystavisim.com/en/Tour-Dates/Ternopil2">09&nbsp;May</a>
                  </p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">Ternopil</p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">
                    <a target="_blank" href="http://vk.com/latchoinpodolyany"
                      >Khmilne Shchastia Club</a
                    >
                  </p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-4">
                  <p class="h4 serif">
                    <a href="https://trystavisim.com/en/Tour-Dates/Kiev3">08&nbsp;May</a>
                  </p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">Kiev</p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">
                    <a target="_blank" href="http://vk.com/latchoinbochka">Bochka Club</a>
                  </p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-4">
                  <p class="h4 serif">
                    <a href="https://trystavisim.com/en/Tour-Dates/Kryvorivnia">02&nbsp;May</a>
                  </p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">Kryvorivnia</p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">
                    <a target="_blank" href="http://cheremosh-fest.org/">Cheremosh Festival</a>
                  </p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-4">
                  <p class="h4 serif">
                    <a href="https://trystavisim.com/en/Tour-Dates/Uzhgorod-Tysa-FM"
                      >22&nbsp;April</a
                    >
                  </p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">Uzhgorod, Tysa FM</p>
                </div>
                <div class="col-sm-4">
                  <p class="h5"><a target="_blank" href="http://vk.com/tysafm">Tysa FM Live</a></p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-4">
                  <p class="h4 serif">
                    <a href="https://trystavisim.com/en/Tour-Dates/Uzhgorod2">21&nbsp;April</a>
                  </p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">Uzhgorod</p>
                </div>
                <div class="col-sm-4">
                  <p class="h5">
                    <a target="_blank" href="http://vk.com/trystavisimpresentation">Phantom Club</a>
                  </p>
                </div>
              </div>
              <hr />
            </div>
            <div class="tab-pane" id="year2013">
              <p>27.12.13 – Khmel'nyts'ky, club «Shtab»</p><p>
                13.12.13 – Uzhgorod, club «Phantom», charity event «Steps of the Angels»
              </p><p>23.11.13 – Uzhgorod, under the «Meet - martial arts»</p><p>
                01.11.13 – Kyiv, art-pub «Bochka»
              </p><p>15.09.13 – Lviv, festival «Lvivs'ka zabava»</p><p>
                28.08.13 – Mukachevo<b>,</b> festival «Mukachevo convene friends»
              </p><p>23.08.13 – Chop, «Day of the city»</p><p>
                18.08.13 – Rodatychi, festival «Zahid - 2013»
              </p><p>27.07.13 – Naguevichi, festival «Franko-Mission»</p><p>
                21.07.13 – Shayan, festival «Shayan Fest»
              </p><p>20.07.13 – Ternopil, festival «Faine misto»</p><p>
                19.07.13 – Pidkamin, festival «Pidkamin»
              </p><p>13.07.13 – Uzhgorod, festival «Music Bike Ukraine - 2013»</p><p>
                09.07.13 – Lumshory, festival «Studrespublika - 2013»
              </p><p>08.07.13 – Kyiv, «TVi», tv program «Music for Adults»</p><p>
                07.07.13 – Berezhany, festival «Rurys'ko - 2013»
              </p><p>06.07.13 – Voyevodino, festival «Ivana Kupala»</p><p>
                18.05.13 – Chynadiyevo, festival «Silver tatosh - 2013»
              </p><p>18.05.13 – Mukachevo, «Day of the city»</p><p>
                17.05.13 – Chernivtsi, club «Public», presentation ЕР «Percha»
              </p><p>11.05.13 – Ternopil, irish-pub «Patrick», presentation ЕР «Percha»</p><p>
                10.05.13 – Ivano-Frankivsk, «Panorama Pub», presentation ЕР «Percha»
              </p><p>06.05.13 – Ivano-Frankivsk, «Karpats'kyi protyah - 2013»</p><p>
                01.05.13 – Voyevodino, Spring party
              </p><p>13.04.13 – Lutsk, pub «Obolon», presentation ЕР «Percha»</p><p>
                03.04.13 – Uzhgorod, pub «Savok», presentation ЕР «Percha»
              </p><p>31.03.13 – Uzhgorod, Tysa FM live, presentation ЕР «Percha»</p><p>
                17.03.13 – Chernivtsi, pub Public, «St. Patrick’s Day»
              </p><p>16.03.13 – Kyiv, First international TV channel , program «Folk music»</p><p>
                14.03.13 – Uzhgorod, club «Phantom»
              </p><p>01.03.13 – Uzhgorod, club «Phantom»</p>
            </div>
            <div class="tab-pane" id="year2012">
              <p>20.12.12 – Uzhgorod, Panorama by Kashtan, «Charity Auction»</p><p>
                24.11.12 – Ternopil, irish-pub «Patrick»
              </p><p>23.11.12 – Khmel'nyts'ky, art-pub «High Hopes»</p><p>
                18.11.12 – Uzhgorod, «Holiday of wine»
              </p><p>04.11.12 – Uzhgorod, «Limud-2012»</p><p>
                19.10.12 – Uzhgorod, pub «Arena», «Octoberfest - 2012»
              </p><p>30.09.12 – Uzhgorod, «Day of the city»</p><p>
                31.08.12 – Uzhgorod, «Chicarrones party»
              </p><p>30.08.12 – Uzhgorod, festival «PoraBulo - 2012»</p><p>
                19.08.12 – Bereznyj, «Day of the city»
              </p><p>17.08.12 – Rodatychi, festival «Zahid - 2012»</p><p>
                02.08.12 – Uzhgorod, «Central part of town»
              </p><p>14.07.12 – Uzhgorod, festival «Goral Music Avia Bike Ukraine - 2012»</p><p>
                12.07.12 – Nyzhne Selishche, festival «Selis'ka spivanka»
              </p><p>24.06.12 – Uzhgorod, pub «Savok»</p><p>
                30.04.12 – Uzhgorod, café «Delizia»
              </p><p>20.04.12 – Uzhgorod, pub «Arena»</p><p>
                25.02.12 – Lviv, «Kult» live music club
              </p><p>03.02.12 – Uzhgorod, club «Maximus»</p><p>28.01.12 – Lutsk, pub «Obolon»</p><p>
                14.01.12 – Ternopil, irish-pub «Patrick»
              </p><p>13.01.12 – Khmel'nyts'ky, art-pub «High Hopes»</p>
            </div>
            <div class="tab-pane" id="year2011">
              <p>29.12.11 – Bereznyj, restaurant «Termachuv»</p><p>
                12.11.11 – Ternopil, pub «Hmilne schastya»
              </p><p>14.10.11 – Ivano-Frankivsk, «Panorama Pub»</p><p>
                13.10.11 – Uzhgorod, Panorama by Kashtan, «Octoberfest - 2011»
              </p><p>18.09.11 – Uzhgorod, «Day of the city»</p><p>
                17.09.11 – Uzhgorod, «BBQ-Fest Uzhgorod open - 2011»
              </p><p>10.09.11 – Ivano-Frankivsk, club «Marmulyada»</p><p>
                14.07.11 – Uzhgorod, festival «Music Bike Ukraine -2011»
              </p><p>03.07.11 – Uzhgorod, festival «PoraBulo - 2011»</p><p>
                26.06.11 – Uzhgorod, «Amurchyk»
              </p><p>13.06.11 – Uzhgorod, festival «RecFest»</p><p>
                21.05.11 – Uzhgorod, pub «Sneck»
              </p><p>26.04.11 – Lviv, pub « Hmiljnyj dim Roberta Domsa»</p><p>
                23.02.11 – Uzhgorod, pub «Burger»
              </p><p class="text-justify">
                Band's first performance took place on November 23, 2010 in Lviv, in «Etnoсlub» of
                Lviv Art Association «Dzyga».
              </p>
            </div>
          </div>
          <br />
          <div class="row text-center">
            <p>
              <a href="/trystavisim/en/afisha" class="btn btn-spacia btn-large btn-color"
                >Upcoming shows</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</PageLayout>
