---
import PageLayout from '../../layouts/EnPageLayout.astro'
---

<PageLayout>
  <section
    style="background-image: url(/trystavisim/images/full-width-images/tour-1.jpg)"
    class="page-section padding-bot-null margin-bot dark-bg image-bg"
  >
    <div class="bg-overlay-1"></div>
    <div class="container bg-content">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
          <div class="section-title">History</div>
          <h1 class="section-heading">TRYSTAVISIM</h1>
        </div>
      </div>
    </div>
  </section>

  <section class="text-center padding-top-null" id="about-us">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
          <!-- Shortcode Title -->
          <h2 class="shortcode-title color">UKRAINIAN ROCK BAND, FOUNDED IN UZHGOROD</h2>
          <!-- End Shortcode Title -->
          <div class="section-text margin-bot-null">
            <p class="text-left">
              You can easily call Trystavisim a Ukrainian music discovery from the festival summer
              of 2013.
            </p><p class="text-left">
              At the beginning of the spring of 2013, the band released their debut EP album <a
                class="usually"
                href="/en/Music/PERCHA"
                target="_self">Percha</a
              >, which was well-received by most connoisseurs of this lively style of music. Despite
              the fact that the album included only 5 songs, it didn’t prevent the band from giving
              full performances which lasted one hour and a half. In support of their album, the
              band toured most of the cities of western Ukraine and gave concerts at the following
              Ukrainian festivals: ZAHID, Pidkamin, Faine Misto, Franko-Missia, Carpatskij Protyah,
              Rurysko, Music Bike Ukraine, Lvivska Zabava and others.
            </p><p class="text-left">
              During the summer of 2013 Trystavisim took part in a TV show on the First National
              Channel program called Folk-Music and <a
                class="usually"
                href="/en/Music/Live-at-TVi"
                target="_self">Music for Adults with Mariya Burmaka on ТVІ channel</a
              >. At that time the debut clip <a
                class="usually"
                href="/en/Music/Dyslocatsia"
                target="_self">Dislocatsia</a
              > was produced. The songs from the Percha album can be heard on many Ukrainian radio stations
              and they are also available on the Internet.
            </p><p class="text-left">
              At the beginning of the spring of 2014, the band started work on their debut full
              format album Lacho. Later, the beginning of the Latcho Tour 2014 / Round 1 was
              announced in support of the album. The tour started with a Great Concert in Uzhgorod,
              where songs from the album were performed publically for the first time. During the
              concert an official studio video of the song <a
                class="usually"
                href="/en/Music/Nasha-Faita-Music-Video"
                target="_self">Nasha Fajta (Our Kin)</a
              >&nbsp;was shown. This video was made while the band was recording the album at their
              studio. As was announced, the band gave a number of concerts in Ukraine and abroad. So
              far, they have performed in Kyiv, Lviv, Ternopil, Lutsk, Hmelnyskyi and the following
              festivals: ZAHID, Faine Misto, Kraina Mriy, Lemkiwska Watra in Zhdyna (Poland),
              Cheremosh Fest, Malyovanka, Ole Dovbush and others.
            </p><p class="text-left">
              You can see the full list of the band’s performances in the <a
                class="usually"
                href="/en/Tour-Archive"
                target="_self">concert archives</a
              >.
            </p><a href="http://en.wikipedia.org/wiki/Trystavisim"
              ><i class="fa fa-puzzle-piece"></i> Trystavisim in Wikipedia</a
            ><p></p><hr /><p></p><p><b>Watch related videos:</b></p><p>
              <a class="usually" href="/en/Music/Live-at-TVi" target="_self"
                ><i class="fa fa-youtube-play"></i>&nbsp;Music for Adults with Mariya Burmaka on ТVІ
                channel</a
              >
            </p><p>
              <a class="usually" href="/en/Music/Dyslocatsia" target="_self"
                ><i class="fa fa-youtube-play"></i>&nbsp;Dislocatsia (Official Video)</a
              >
            </p><p>
              <a class="usually" href="/en/Music/Nasha-Faita-Music-Video" target="_self"
                ><i class="fa fa-youtube-play"></i>&nbsp;Nasha Faita (In Studio)</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</PageLayout>
