---
export const partial = true
---

<section id="work-item" class="work-container">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-10 col-lg-offset-1">
        <!-- Work Title -->
        <h1 class="work-full-title">MUSAI</h1>
        <!-- Work Categories -->
        <div class="work-descr">LP, 2021</div>
        <!-- Work Photo or Video -->
        <div class="work-full-media">
          <iframe
            src="https://open.spotify.com/embed/album/1lKbKuGcWJ7X87GKPOxdnA"
            width="100%"
            height="450"
            frameborder="0"
            allowtransparency="true"
            allow="encrypted-media"></iframe>
        </div>
        <!-- Work Text -->
        <div class="work-full-text">
          <div class="row">
            <!-- Project Detail -->
            <div class="col-md-4 col-lg-4">
              <div class="work-detail">
                <h6 class="uppercase">Details</h6>
                <div class="work-full-detail">
                  <p>
                    <b>Recorded:</b>&nbsp;Oleg Oreshikov ( <a
                      class="usually"
                      href="http://solist.in.ua"
                      target="_self">SOLIST Studio</a
                    >),&nbsp;Vitalik Levshakov
                  </p><p>
                    <b>Mixed &amp; Mastered:</b>&nbsp; <a
                      class="usually"
                      href="https://www.facebook.com/ColoorsunMusic/"
                      target="_blank">COLOORSUN Music</a>
                  </p><p><b>Released:&nbsp;</b>10 January, 2021</p>
                </div>
              </div>
            </div>
            <!-- End Project Detail -->
            <!-- About Project -->
            <div class="col-md-8 col-lg-8">
              <h6 class="uppercase">About</h6>
              <div class="text-block">
                <p>
                  <a
                    class="usually"
                    href="https://soundcloud.com/trystavisim/sets/musai"
                    target="_blank">Musai on SoundCloud</a
                  ><br />
                  <a class="usually" href="https://bit.ly/35rW6Zf" target="_blank"
                    >Musai on Youtube Music</a
                  ><br />
                  <a class="usually" href="https://spoti.fi/3bmIkLp" target="_blank"
                    >Musai on Spotify</a
                  ><br />
                  <a class="usually" href="https://apple.co/3bpzk8q" target="_blank"
                    >Musai on Apple Music</a>
                </p><p>
                  Vocals, acoustic guitar:&nbsp;<b>Pavlo Genov</b>,<br />
                  Trumpet, vocals, back-vocals:&nbsp;<b>Volodymyr Shchobak</b>,<br />
                  Drums:&nbsp;<b>Igor Magada</b>,<br />
                  Bass:&nbsp;<b>Andriy Shapovalov</b>,<br />
                  Accordion:&nbsp;<b>Stanislav Mykultsya</b>,<br />
                  Guitar:&nbsp;<b>Arsen Babychenko</b>,&nbsp;<b>Sergiy Yelagin</b>,&nbsp;<b
                    >Kristofer Bobik</b
                  >&nbsp;(song Karpatos),<br />Scratches:&nbsp;<b>DJ Vibes</b>.
                </p><p>
                  Musai is a unique Transcarpathian word that has a much broader meaning than its
                  Hungarian prototype "muszáj", which means "must". For us, "musay" means not only
                  "to act" because it must, but on the contrary - to act purposefully,
                  intentionally, concentrated, accurately, purposefully, uncompromisingly and in
                  time, being in a free, unfettered state. Our friend, an Aikido coach, often
                  compares these things - music and martial arts, and we totally agree with him. So,
                  you have to live, you have to play, you have to listen, must love!
                </p>
              </div>
            </div>
            <!-- End About Project -->
          </div>
        </div>
        <!-- End Work Text -->
      </div>
    </div>
  </div>
</section>
