---
export const partial = true
---

<section id="work-item" class="work-container">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-10 col-lg-offset-1">
        <!-- Work Title -->
        <h1 class="work-full-title">PERCHA</h1>
        <!-- Work Categories -->
        <div class="work-descr">EP, 2013</div>
        <!-- Work Photo or Video -->
        <div class="work-full-media">
          <iframe
            width="100%"
            height="450"
            scrolling="no"
            frameborder="no"
            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/4247368&color=ff5500&auto_play=false&hide_related=false&show_artwork=true"
          ></iframe>
        </div>
        <!-- Work Text -->
        <div class="work-full-text">
          <div class="row">
            <!-- Project Detail -->
            <div class="col-md-4 col-lg-4">
              <div class="work-detail">
                <h6 class="uppercase">Details</h6>
                <div class="work-full-detail">
                  <p><b>Record Studio:</b>&nbsp;Frost Magnetic Rec.</p><p>
                    <b>Release Date:&nbsp;</b>26 March, 2013
                  </p><p>
                    <b>Released by: </b>
                    <a class="usually" href="http://nashformat.ua/" target="_blank">Nash Format</a>
                  </p><p>
                    <b>CD:&nbsp;</b>
                    <a
                      class="usually"
                      href="http://nashformat.ua/catalog/muzyka_1/ukrainskyj_rok/alternatyva/trysta8isim_percha/"
                      target="_blank">Buy It Now</a
                    >
                  </p>
                </div>
              </div>
            </div>
            <!-- End Project Detail -->
            <!-- About Project -->
            <div class="col-md-8 col-lg-8">
              <h6 class="uppercase">About the album</h6>
              <div class="text-block">
                <p class="text-left">
                  «Without any exaggeration, each second of it is filled with a positive mood which
                  is felt by the listener. Frankly speaking, it is not very easy to listen to this
                  music sitting down. «Percha» is a musical reflection of a cultural whirpool,
                  formed by the merger of the folklore of people in the Transcarpathian region,
                  Carpathian-Balkan motifs, and an eccentric blend of different modern styles of
                  music such as folk-rock, punk, funk, ska, rock-n-roll. These irresistible tunes go
                  on to combine Hungarian Csárdás with passionate gypsy motifs, Romanian diversity,
                  and Hutsul spontaneity.»
                </p><author>-Dmitrij V., Kyiv Rock Club</author> (<a
                  href="http://rock.kiev.ua/article/2013/61/">Read the original article</a
                >)
              </div>
            </div>
            <!-- End About Project -->
          </div>
        </div>
        <!-- End Work Text -->
      </div>
    </div>
  </div>
</section>
