---
export const partial = false
---

<section id="work-item" class="work-container">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-10 col-lg-offset-1">
        <!-- Work Title -->
        <h1 class="work-full-title">PUIDU PRUIDUS</h1>
        <!-- Work Categories -->
        <div class="work-descr">Single, 2017</div>
        <!-- Work Photo or Video -->
        <div class="work-full-media">
          <iframe
            width="100%"
            height="166"
            scrolling="no"
            frameborder="no"
            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/329967573&color=ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false"
          ></iframe>
        </div>
        <!-- Work Text -->
        <div class="work-full-text">
          <div class="row">
            <!-- Project Detail -->
            <div class="col-md-4 col-lg-4">
              <div class="work-detail">
                <h6 class="uppercase">Details</h6>
                <div class="work-full-detail">
                  <p>
                    <b>Mix &amp; Mastering:</b>&nbsp;<br />
                    <a
                      class="usually"
                      href="https://www.facebook.com/ColoorsunMusic/"
                      target="_self">COLOORSUN music studio</a>
                  </p><p>
                    <b>Recording:</b>
                    <br />Oleg Oreshnikov,&nbsp; <a
                      class="usually"
                      href="https://www.facebook.com/solist.engin/"
                      target="_self">SOLIST Studio</a>
                  </p><p><b>Released: </b>June 26, 2017</p>
                </div>
              </div>
            </div>
            <!-- End Project Detail -->
            <!-- About Project -->
            <div class="col-md-8 col-lg-8">
              <div class="text-block">
                <a name="eztoc13421_1" id="eztoc13421_1"></a><h2>
                  PUIDU PRUIDUS, song from the album MUSAI (LP, 2021).
                </h2>
              </div>
            </div>
            <!-- End About Project -->
          </div>
        </div>
        <!-- End Work Text -->
      </div>
    </div>
  </div>
</section>
