---
export const partial = true
---

<section id="work-item" class="work-container">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-10 col-lg-offset-1">
                <!-- Work Title -->
                <h1 class="work-full-title">АВАНТЮРА</h1>
                                <!-- Work Categories -->
                <div class="work-descr">
                    Single, 2017
                </div>
                                <!-- Work Photo or Video -->
                <div class="work-full-media">
                    <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/304369152&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
                                    </div>
                <!-- Work Text -->
                <div class="work-full-text">
                    <div class="row">
                                            <!-- Project Detail -->
                        <div class="col-md-4 col-lg-4">
                            <div class="work-detail">
                                <h6 class="uppercase">Деталі</h6>
                                <div class="work-full-detail">
                                    
<p><b>Mix &amp; Mastering:</b>&nbsp;<br>	<a class="usually" href="https://www.facebook.com/ColoorsunMusic/" target="_self">COLOORSUN music studio</a></p><p><b>Recording:</b> <br>Олeг Орєшніков,&nbsp;	<a class="usually" href="https://www.facebook.com/solist.engin/" target="_self">SOLIST Studio</a></p><p><b>Дата релізу: </b>25 січня 2017</p>                                </div>
                            </div>
                        </div>
                        <!-- End Project Detail -->
                                                                <!-- About Project -->
                        <div class="col-md-8 col-lg-8">
                                                        <div class="text-block">
                                
<a name="eztoc13239_1" id="eztoc13239_1"></a><h2><b>«АВАНТЮРА»,&nbsp;</b>пісня, з нового альбому <b>«Мусай» (LP, 2021).</b></h2><p>
<b>Павло Генов</b>, фронтмен <b>«Триставісім»</b>, про нову пісню:<br>«У цій пісні ми хотіли передати дух авантюризму, пристрасті, дружби, пригод, поїздок, виходу за межі зони комфорту та нестримного бажання відкриття нових життєвих історій, які роблять наше життя ширшим, цікавим та насиченим. Пісня “Авантюра” - це спроба передати стан людини у передчутті потоку непередбачуваних подій, на які вона цілеспрямовано йде, і які вона готова прийняти, незалежно від того хороші вони будуть чи ні. Авантюра нас несе і найцікавіше ще попереду…»</p><p><b>Авантюра (слова пісні)</b></p><p>
Повз мене пролітають люди,<br>
Повз мене пролітає час,<br>
А я тікаю далі від усюди,<br>Щоб наздогнати свій останній шанс!</p><p>
“Тисну на тапку”, “жму на педалі” -<br>
Я їду, їду, їду далі й далі!<br>
Мчуся, неначе фура -<br>Вперед назустріч авантюрам!</p><p>
Приспів:<br>
Це авантюра! Нас несе<br>
Авантюра! Це все -<br>
Авантюра!<br>Авантюра нас несе! (х2)</p><p>
Ми з кожним днем нарощуємо швидкість,<br>
Прямуємо в загублені місця,<br>
І однодумців нас чимала кількість,<br>І б'ються в такт один наші серця!</p><p>
Нехай попереду небачені пригоди,<br>
Не знати що несе наступний крок -<br>
Ця подорож лиш тільки надихає<br>Пройти весь шлях немов без перешкод!</p><p>Приспів. (х2)</p><p>
Тримай удар, тримай баланс!<br>
І якщо все на межі, то є ще шанс!<br>
Тримай удар, тримай баланс!<br>І якщо все на межі, то є ще шанс!</p><p>Приспів.</p><p>
Нас несе-і-є! Уао-у!<br>
Нас несе-і-є! Іе-хей!<br>
Нас несе-і-є! Уао-у!<br>Авантюра нас несе!</p>                            </div>
                        </div>
                        <!-- End About Project -->
                    	
                    </div>
                                    </div>
                <!-- End Work Text -->
            </div>
        </div>
    </div>
</section>