---
export const partial = true
---

<section id="work-item" class="work-container">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-10 col-lg-offset-1">
        <!-- Work Title -->
        <h1 class="work-full-title">Голяк</h1>
        <!-- Work Categories -->
        <div class="work-descr">Кавер на Перкалабу, 2014</div>
        <!-- Work Photo or Video -->
        <div class="work-full-media">
          <iframe
            width="100%"
            height="166"
            scrolling="no"
            frameborder="no"
            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/176307858%3Fsecret_token%3Ds-5E4b2&color=ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false"
          ></iframe>
        </div>
        <!-- Work Text -->
        <div class="work-full-text">
          <div class="row">
            <!-- Project Detail -->
            <div class="col-md-4 col-lg-4">
              <div class="work-detail">
                <h6 class="uppercase">Деталі</h6>
                <div class="work-full-detail">
                  <p>
                    <b
                      >Запис: <a
                        class="usually"
                        href="http://solist.in.ua/Poslugi/Studiya"
                        target="_self">Cтудія SOLIST</a
                      ></b>
                  </p><p>
                    <b>Зведення/Мастерінг:&nbsp;</b>
                    <a class="usually" href="https://vk.com/o.oreshnikov" target="_self"
                      >Олег Орєшніков</a>
                  </p>
                </div>
              </div>
            </div>
            <!-- End Project Detail -->
            <!-- About Project -->
            <div class="col-md-8 col-lg-8">
              <h6 class="uppercase">Про пісню</h6>
              <div class="text-block">
                <p>
                  Долучаємось до триб’юту культового івано-франківського гурту «ПЕРКАЛАБА»!
                  Роздягаймоси і купаймоси!<br /><br />Більше про триб’ют Перкалаби читайте в <a
                    class="usually"
                    href="http://rockyou.kiev.ua/rumors/item-14729.html"
                    target="_self">&nbsp;інтерв’ю Моха</a
                  >.
                </p>
              </div>
            </div>
            <!-- End About Project -->
          </div>
          <!-- Button -->
          <div class="work-full-action">
            <a
              href="/download/Trystavisim_Golyak.mp3"
              class="btn btn-spacia btn-color btn-medium download-file-work">Скачати пісню</a
            >
          </div>
          <!-- End Button -->
        </div>
        <!-- End Work Text -->
      </div>
    </div>
  </div>
</section>
