---
export const partial = true;
---

<section id="work-item" class="work-container">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-10 col-lg-offset-1">
                <!-- Work Title -->
                <h1 class="work-full-title">ЛАЧО</h1>
                                <!-- Work Categories -->
                <div class="work-descr">
                    LP, 2015
                </div>
                                <!-- Work Photo or Video -->
                <div class="work-full-media">
                    <iframe src="https://open.spotify.com/embed/album/54aJlBJ3Qo45h2inkgJAdR" width="100%" height="450" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                                    </div>
                <!-- Work Text -->
                <div class="work-full-text">
                    <div class="row">
                                            <!-- Project Detail -->
                        <div class="col-md-4 col-lg-4">
                            <div class="work-detail">
                                <h6 class="uppercase">Деталі</h6>
                                <div class="work-full-detail">
                                    
<a href="https://geo.itunes.apple.com/us/album/laco/id1176715654?mt=1&amp;app=music" style="display:inline-block;overflow:hidden;background:url(//linkmaker.itunes.apple.com/assets/shared/badges/en-us/music-lrg.svg) no-repeat;width:110px;height:40px;background-size:contain;margin: 9px;"></a> &nbsp;<a style="display:inline-block;vertical-align:top;" href="https://play.google.com/store/music/album/Триставісім_Лачо?id=Blvsxdgrepkahxtukx546ysa3ki&amp;hl=ru&amp;pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"><img style="display:inline-block; height: 60px; width: auto;" alt="Get it on Google Play" src="https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png"></a><p>&nbsp;</p><p><b>Студія запису:</b>&nbsp;	<a class="usually" href="http://solist.in.ua" target="_self">SOLIST Studio</a></p><p><b>Дата релізу:&nbsp;</b>27 січня, 2015</p><p><b>Придбати CD:&nbsp;</b>	<a class="usually" href="mailto:info@trystavisim.com" target="_blank">Напишіть нам</a></p>                                </div>
                            </div>
                        </div>
                        <!-- End Project Detail -->
                                                                <!-- About Project -->
                        <div class="col-md-8 col-lg-8">
                                                        <h6 class="uppercase">Про альбом</h6>
                                                        <div class="text-block">
                                
<p>«ЛАЧО» – це нове звучання українського року! Драйв, що захоплює з першої миті та тримає до останнього акорду. Пісні, що об’єднують та надихають. Музика, що лунає в серцях та наповнює їх життєдайною енергією. Стихія, що проникає в душу, розносить її вщент, підпалює і вмить відбудовує все знов! ТУРБО-ФОЛК-ПАНК-РОК! ВАРОШ БАНДА! ТРИСТАВІСІМ!</p><a href="https://geo.itunes.apple.com/us/album/laco/id1176715654?mt=1&amp;app=music" style="display:inline-block;overflow:hidden;background:url(//linkmaker.itunes.apple.com/assets/shared/badges/en-us/music-lrg.svg) no-repeat;width:110px;height:40px;background-size:contain;margin: 9px;"></a> &nbsp;<a style="display:inline-block;vertical-align:top;" href="https://play.google.com/store/music/album/Триставісім_Лачо?id=Blvsxdgrepkahxtukx546ysa3ki&amp;hl=ru&amp;pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"><img style="display:inline-block; height: 60px; width: auto;" alt="Get it on Google Play" src="https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png"></a>                            </div>
                        </div>
                        <!-- End About Project -->
                    	
                    </div>
                                                                    <!-- Button -->
                        <div class="work-full-action">
                                                                                <a href="/download/Trystavisim_LATCHO.zip" class="btn btn-spacia btn-color btn-medium download-file-work">Скачати альбом</a>
                                                                            </div>
                        <!-- End Button -->
                                                        </div>
                <!-- End Work Text -->
            </div>
        </div>
    </div>
</section>