---
export const partial = true;
---
<section id="work-item" class="work-container">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-10 col-lg-offset-1">
                <!-- Work Title -->
                <h1 class="work-full-title">МУСАЙ</h1>
                <!-- Work Categories -->
                <div class="work-descr">
                    LP, 2021
                </div>
                <!-- Work Photo or Video -->
                <div class="work-full-media">
                    <iframe src="https://open.spotify.com/embed/album/1lKbKuGcWJ7X87GKPOxdnA" width="100%"
                        height="450" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                </div>
                <!-- Work Text -->
                <div class="work-full-text">
                    <div class="row">
                        <!-- Project Detail -->
                        <div class="col-md-4 col-lg-4">
                            <div class="work-detail">
                                <h6 class="uppercase">Деталі</h6>
                                <div class="work-full-detail">

                                    <p><b>Запис:</b>&nbsp;Олeг Орєшніков ( <a class="usually"
                                            href="http://solist.in.ua" target="_self">SOLIST
                                            Studio</a>),&nbsp;Віталік Лєвшаков</p>
                                    <p><b>Mix &amp; Mastering</b>: <a class="usually"
                                            href="https://www.facebook.com/ColoorsunMusic/"
                                            target="_blank">COLOORSUN Music</a></p>
                                    <p><b>Дата релізу:&nbsp;</b>10 січня, 2021</p>
                                </div>
                            </div>
                        </div>
                        <!-- End Project Detail -->
                        <!-- About Project -->
                        <div class="col-md-8 col-lg-8">
                            <h6 class="uppercase">Про альбом</h6>
                            <div class="text-block">

                                <p>
                                    <a class="usually" href="https://soundcloud.com/trystavisim/sets/musai"
                                        target="_blank">Мусай on SoundCloud</a><br>
                                    <a class="usually" href="https://bit.ly/35rW6Zf" target="_blank">Мусай on
                                        Youtube Music</a><br>
                                    <a class="usually" href="https://spoti.fi/3bmIkLp" target="_blank">Мусай on
                                        Spotify</a><br> <a class="usually" href="https://apple.co/3bpzk8q"
                                        target="_blank">Мусай on Apple Music</a>
                                </p>
                                <p>
                                    Вокал, акустична гітара: <b>Генов Павло</b>,<br>
                                    Труба, вокал, бек-вокал: <b>Володимир Щобак</b>,<br>
                                    Барабани: <b>Ігор Магада</b>,<br>
                                    Бас-гітара: <b>Андрій Шаповалов</b>,<br>
                                    Акордеон: <b>Станіслав Микульця</b>,<br>
                                    Гітара: <b>Арсен Бабиченко</b>, <b>Сергій Єлагін</b>, <b>Крістофер Бобік</b>
                                    (пісня Карпатос),<br>Скретчі: <b>DJ Vibes</b>.</p>
                                <p>Мусай - унікальне закарпатське слово, що має набагато ширше значення, ніж
                                    його угорський прототип "muszáj", що значить "повинен". Для нас "мусай"
                                    значить не тільки "діяти” тому що повинен, а навпаки - діяти цілеспрямовано,
                                    намірено, сконцентровано, точно, прицільно, безкомпромісно і вчасно, будучи
                                    у вільному, не скутому стані. Саме так як повинен працювати уке і наґе під
                                    час практик айкідо, саме так, як працює все тіло музиканта, виконуючи твори.
                                    Наш друг, тренер з айкідо часто порівнює ці речі - музику і бойове
                                    мистецтво, і ми не можемо з ним не погодитись. Тому, мусай жити, мусай
                                    грати, мусай слухати, мусай кохати!</p>
                            </div>
                        </div>
                        <!-- End About Project -->

                    </div>
                </div>
                <!-- End Work Text -->
            </div>
        </div>
    </div>
</section>