---
import PageLayout from '../layouts/PageLayout.astro'
---

<PageLayout>
  <section
    style="background-image: url(/images/full-width-images/convert_bg_lowq.jpg)"
    class="page-section padding-bot-null margin-bot dark-bg image-bg"
  >
    <div class="bg-overlay-1"></div>
    <div class="container bg-content">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
          <div class="section-title">Афіша</div>
          <h1 class="section-heading">Майбутні концерти</h1>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="section-text margin-bot-null text-center">Найближчим часом будуть оголошені</div>
      <br />
      <div class="row text-center">
        <p><a href="/arhiv-koncertiv" class="btn btn-spacia btn-large">Архів концертів</a></p>
      </div>
    </div>
  </section>
</PageLayout>
