---
import PageLayout from '../layouts/PageLayout.astro'
---

<PageLayout>
  <!-- Navigation panel -->
  <div id="undefined-sticky-wrapper" class="sticky-wrapper" style="height: 55px;">
    <nav class="main-nav">
      <div class="full-wrapper relative clearfix">
        <!-- Logo ( * your text or image into link tag *) -->
        <div class="nav-logo-wrap">
          <a href="/#Home" class="logo dark" style="height: 55px; line-height: 55px;">
            <img
              src="/trystavisim/Oficijnij-sajt-gurtu_large.png"
              width="158"
              height="54"
              style="border: 0px  ;"
              alt="Офіційний сайт гурту"
              title="Офіційний сайт гурту"
            />
          </a>
        </div>
        <div class="mobile-nav" style="height: 55px; line-height: 55px; width: 55px;">
          <i class="fa fa-bars"></i>
        </div>
        <!-- Main Menu -->
        <div class="inner-nav desktop-nav">
          <ul class="clearlist scroll-nav">
            <li><a href="#Muzika" style="height: 55px; line-height: 55px;">Музика</a></li>
            <li><a href="#Afisha" style="height: 55px; line-height: 55px;">Афіша</a></li>
            <li><a href="#Video" style="height: 55px; line-height: 55px;">Відео</a></li>
            <li><a href="#Pro-gurt" style="height: 55px; line-height: 55px;">Про гурт</a></li>
            <li><a href="#Druzi" style="height: 55px; line-height: 55px;">Друзі</a></li>
            <li><a href="#Contacts" style="height: 55px; line-height: 55px;"> Контакти</a></li>
          </ul>
        </div>
        <div class="nav-social-links right">
          <a
            class="current"
            title=""
            href="http://www.trystavisim.com/ua/switchlanguage/to/ua/2"
            data-original-title="Українська"><i class="fa flag-ukraine"></i></a
          >
          <a
            title=""
            href="http://www.trystavisim.com/ua/switchlanguage/to/en/2"
            data-original-title="English"><i class="fa flag-united-kingdom"></i></a
          >
        </div>
        <div class="nav-social-links right social">
          <a
            title=""
            target="_blank"
            style="display: inline-block;overflow: hidden; width: 50px;margin-top: -10px;margin-right: 6px;"
            href="https://open.spotify.com/artist/33rVu09HQNnM4ZcI4G4I3t?si=rO_9KmtuTLGJzNokeWNcBw"
            rel="noopener"
            data-original-title="Trystavisim on Spotify"
          >
            <img src="/trystavisim/media/Spotify_Icon_RGB_Green.png" alt="Trystavisim on Spotify" />
          </a>
          <a
            title=""
            target="_blank"
            href="https://music.apple.com/us/artist/trystavisim/1176715679?itsct=music_box&itscg=30200&ct=artists_trystavisim&app=music&ls=1"
            style="display: inline-block;overflow: hidden;width: 50px;margin-top: -10px;margin-right: 6px;"
            rel="noopener"
            data-original-title="Trystavisim on Apple Music"
          >
            <img src="/trystavisim/images/en-us.png" alt="Trystavisim on Apple Music" />
          </a>
          <a
            class="desktop-link"
            target="_blank"
            href="https://www.facebook.com/trystavisim"
            title=""
            rel="noopener"
            data-original-title="Facebook"><i class="fa fa-facebook"></i></a
          >
          <a
            class="desktop-link"
            target="_blank"
            href="https://www.youtube.com/c/trystavisim"
            title=""
            rel="noopener"
            data-original-title="Youtube"><i class="fa fa-youtube"></i></a
          >
          <a
            class="desktop-link"
            target="_blank"
            href="https://www.soundcloud.com/trystavisim"
            title=""
            rel="noopener"
            data-original-title="Soundcloud"><i class="fa fa-soundcloud" aria-hidden="true"></i></a
          >
        </div>
      </div>
    </nav>
  </div>
  <!-- End Navigation panel -->
  <!-- Home Section -->
  <section class="home-section" id="Home">
    <div
      style='background-image: url("/trystavisim/media/musai-home.jpg"); background-position: 50% 0px; height: 863px;'
      class="image-bg parallax-2 js-height-full"
    >
      <!-- Logo ( * your text or image into link tag *) -->
      <div class="logo-wrap">
        <a href="https://trystavisim.com/#home" class="logo">
          <img
            src="https://trystavisim.com/"
            extension=""
            ash_site=""
            design=""
            t8_paralax=""
            images=""
            trystavisim-logo-white.png""=""
            width="86"
            height="27"
            alt="trystavisim"
          />
        </a>
      </div>
      <!-- Home Page Content -->
      <div class="home-content container">
        <div class="home-text">
          <!-- Headings -->
          <div class="headings" style="font-size: 69.8765px;">
            <h1>«МУСАЙ» (LP, 2021)</h1>
          </div>
          <h2 class="home-description" style="font-size: 20px;">
            Новий альбом вже онлайн! (SoundCloud, Youtube Music, Spotify, Apple Music, Deezer)
          </h2>

          <!-- Subscribe START-->
          <!-- Begin Mailchimp Signup Form -->
          <link href="/trystavisim/css/horizontal-slim-10_7.css" rel="stylesheet" type="text/css" />
          <div
            id="mc_embed_signup"
            style="position: absolute; bottom: 10%;left: 50%;transform: translateX(-50%);"
          >
            <form
              action="https://trystavisim.us7.list-manage.com/subscribe/post?u=3cd15f9ec804c70020b822cfe&id=5585676768"
              method="post"
              id="mc-embedded-subscribe-form"
              name="mc-embedded-subscribe-form"
              class="validate"
              target="_blank"
              novalidate=""
            >
              <div class="mailchip-subscribe-form" id="mc_embed_signup_scroll">
                <label for="mce-EMAIL">Підписатись на новини гурту:</label>
                <input
                  type="email"
                  value=""
                  name="EMAIL"
                  class="email placeholded"
                  id="mce-EMAIL"
                  placeholder="Email"
                  required=""
                  style="height: 41px"
                />
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                  <input
                    type="text"
                    name="b_3cd15f9ec804c70020b822cfe_5585676768"
                    tabindex="-1"
                    value=""
                  />
                </div>
                <div class="clear">
                  <input
                    type="submit"
                    value="Підписатись"
                    name="subscribe"
                    id="mc-embedded-subscribe"
                    class="btn btn-spacia btn-medium"
                  />
                </div>
              </div>
            </form>
          </div>
          <!--End mc_embed_signup-->
          <!-- Subscribe END-->

          <!-- Call Action -->
          <div class="home-call-action animate">
            <a href="/muzika/musaj" class="btn btn-spacia btn-color btn-large">Слухати</a>
          </div>
        </div>
      </div>
      <!-- End Home Page Content -->

      <div class="home-photoby"></div>
    </div>
  </section>
  <!-- End Home Section -->
  <!-- Portfolio Section -->
  <section class="page-section" id="Muzika">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
          <div class="section-title">Музика</div>
          <h2 class="section-heading">Музика</h2>
        </div>
      </div>
    </div>
    <!-- Works Filter 
<div class="container align-center">
<ul class="works-filter animate">
                    <li class="filter" data-filter="all">Всі</li>
                    <li class="filter" data-filter="music">Музика</li>
                    <li class="filter" data-filter="video">Відео</li>
            </ul>
</div>
End Works Filter -->
    <!-- Works Grid -->
    <ul class="works-grid clearfix" id="work-grid">
      <!-- Work Item -->
      <li class="work-item mix music mix_all" style="display: inline-block;  opacity: 1;">
        <a href="/trystavisim/ajax/musaj" class="work-item-link" data-hash="musaj">
          <div class="work-img">
            <img
              class="work-img"
              src="/trystavisim/media/musai_cover_400.jpg"
              width="150"
              height="150"
              alt="МУСАЙ"
            />
          </div>
          <div class="work-intro">
            <h3 class="work-title">МУСАЙ</h3>
            <div class="work-descr">LP, 2021</div>
          </div>
        </a>
      </li>
      <!-- End Work Item -->
      <!-- Work Item -->
      <li class="work-item mix music mix_all" style="display: inline-block;  opacity: 1;">
        <a href="/trystavisim/ajax/lacho" class="work-item-link" data-hash="lacho">
          <div class="work-img">
            <img
              class="work-img"
              src="/trystavisim/media/lacho_cover_400.jpg"
              width="150"
              height="150"
              alt="ЛАЧО"
            />
          </div>
          <div class="work-intro">
            <h3 class="work-title">ЛАЧО</h3>
            <div class="work-descr">LP, 2015</div>
          </div>
        </a>
      </li>
      <!-- End Work Item -->
      <!-- Work Item -->
      <li class="work-item mix music mix_all" style="display: inline-block;  opacity: 1;">
        <a href="/trystavisim/ajax/percha" class="work-item-link" data-hash="percha">
          <div class="work-img">
            <img
              class="work-img"
              src="/trystavisim/media/percha_cover_400.jpg"
              width="150"
              height="150"
              alt="ПЕРЧА"
            />
          </div>
          <div class="work-intro">
            <h3 class="work-title">ПЕРЧА</h3>
            <div class="work-descr">EP, 2013</div>
          </div>
        </a>
      </li>
      <!-- End Work Item -->
      <!-- Work Item -->
      <li class="work-item mix music mix_all" style="display: inline-block;  opacity: 1;">
        <a href="/trystavisim/ajax/karpatos" class="work-item-link" data-hash="karpatos">
          <div class="work-img">
            <img
              class="work-img"
              src="/trystavisim/media/karpatos_cover_400.jpg"
              width="150"
              height="150"
              alt="КАРПАТОС"
            />
          </div>
          <div class="work-intro">
            <h3 class="work-title">КАРПАТОС</h3>
            <div class="work-descr">Single, 2017</div>
          </div>
        </a>
      </li>
      <!-- End Work Item -->
      <!-- Work Item -->
      <li class="work-item mix music mix_all" style="display: inline-block; opacity: 1;">
        <a href="/trystavisim/ajax/schastya" class="work-item-link" data-hash="schastya">
          <div class="work-img">
            <img
              class="work-img"
              src="/trystavisim/media/schastia_cover_400.jpg"
              width="150"
              height="150"
              alt="ЩАСТЯ"
            />
          </div>
          <div class="work-intro">
            <h3 class="work-title">ЩАСТЯ</h3>
            <div class="work-descr">Single, 2017</div>
          </div>
        </a>
      </li>
      <!-- End Work Item -->
      <!-- Work Item -->
      <li class="work-item mix music mix_all" style="display: inline-block;  opacity: 1;">
        <a href="/trystavisim/ajax/avantyura" class="work-item-link" data-hash="avantyura">
          <div class="work-img">
            <img
              class="work-img"
              src="/trystavisim/media/avantura_cover_400.jpg"
              width="150"
              height="150"
              alt="АВАНТЮРА"
            />
          </div>
          <div class="work-intro">
            <h3 class="work-title">АВАНТЮРА</h3>
            <div class="work-descr">Single, 2017</div>
          </div>
        </a>
      </li>
      <!-- End Work Item -->
      <!-- Work Item -->
      <li class="work-item mix music mix_all" style="display: inline-block;  opacity: 1;">
        <a href="/trystavisim/ajax/golyak" class="work-item-link" data-hash="golyak">
          <div class="work-img">
            <img
              class="work-img"
              src="/trystavisim/media/golyak_cover_400.jpg"
              width="150"
              height="150"
              alt="Голяк"
            />
          </div>
          <div class="work-intro">
            <h3 class="work-title">Голяк</h3>
            <div class="work-descr">Perkalaba Cover, Single</div>
          </div>
        </a>
      </li>
      <!-- End Work Item -->
      <!-- Work Item -->
      <li class="work-item mix music mix_all" style="display: inline-block;  opacity: 1;">
        <a href="/trystavisim/ajax/pujdu-prujdus" class="work-item-link" data-hash="pujdu-prujdus">
          <div class="work-img">
            <img
              class="work-img"
              src="/trystavisim/media/puidu_400.jpg"
              width="150"
              height="150"
              alt="ПУЙДУ ПРУЙДУСЬ"
            />
          </div>
          <div class="work-intro">
            <h3 class="work-title">ПУЙДУ ПРУЙДУСЬ</h3>
            <div class="work-descr">Single, 2017</div>
          </div>
        </a>
      </li>
      <!-- End Work Item -->
    </ul>
    <!-- End Works Grid -->
    <div class="section-text"></div>
  </section>
  <!-- End Portfolio Section -->
  <!-- Tour Section -->
  <section
    style="background-image: url(https://trystavisim.com/var/plain_site/storage/trystavisim/images/media2/trystavisim/images/convert_bg_lowq/13891-1-ukr-UA/convert_bg_lowq.jpg)"
    class="page-section dark-bg image-color-bg"
    id="Afisha"
  >
    <div class="bg-overlay-1"></div>
    <div class="container bg-content">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
          <div class="section-title">Афіша</div>
          <h2 class="section-heading">Найближчі концерти</h2>
          <div class="section-text margin-bot-null">Найближчим часом будуть оголошені</div>
        </div>
      </div>
      <!-- Counters -->
      <div class="row"></div>
      <br />
      <br />
      <div class="row">
        <p>
          <a href="/arhiv-koncertiv" class="btn btn-spacia btn-w-color btn-large">Архів концертів</a
          >
        </p>
      </div>
    </div>
  </section>
  <!-- Tour Facts Section -->
  <!-- Portfolio Section -->
  <section class="page-section" id="Video">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
          <div class="section-title">Відео</div>
          <h2 class="section-heading">Відео</h2>
        </div>
      </div>
    </div>
    <!-- Works Filter 
<div class="container align-center">
<ul class="works-filter animate">
                    <li class="filter" data-filter="all">Всі</li>
                    <li class="filter" data-filter="music">Музика</li>
                    <li class="filter" data-filter="video">Відео</li>
            </ul>
</div>
End Works Filter -->
    <!-- Works Grid -->
    <ul class="works-grid clearfix" id="work-grid">
      <!-- Work Item -->
      <li class="work-item mix video mix_all" style="display: inline-block;  opacity: 1;">
        <a
          href="/trystavisim/ajax/trystavisim/media/varoshs-ka-tusa-live"
          class="work-item-link"
          data-hash="varoshs-ka-tusa-live"
        >
          <div class="work-img">
            <img
              class="work-img"
              src="/trystavisim/media/varoshska-tusa-live-media-cover.jpg"
              width="150"
              height="150"
              alt="Варошська туса // LIVE"
            />
          </div>
          <div class="work-intro">
            <h3 class="work-title">Варошська туса // LIVE</h3>
            <div class="work-descr">ПРЕМ’ЄРА! 2016</div>
          </div>
        </a>
      </li>
      <!-- End Work Item -->
      <!-- Work Item -->
      <li class="work-item mix video mix_all" style="display: inline-block;  opacity: 1;">
        <a
          href="/trystavisim/ajax/trystavisim/media/varoshs-ka-tusa"
          class="work-item-link"
          data-hash="varoshs-ka-tusa"
        >
          <div class="work-img">
            <img
              class="work-img"
              src="/trystavisim/media/varoshska-tusa-media-cover.jpg"
              width="150"
              height="150"
              alt="Варошська туса"
            />
          </div>
          <div class="work-intro">
            <h3 class="work-title">Варошська туса</h3>
            <div class="work-descr">ПРЕМ’ЄРА КЛІПУ! 2016</div>
          </div>
        </a>
      </li>
      <!-- End Work Item -->
      <!-- Work Item -->
      <li class="work-item mix video mix_all" style="display: inline-block;  opacity: 1;">
        <a
          href="/trystavisim/ajax/trystavisim/media/rejndzheri"
          class="work-item-link"
          data-hash="rejndzheri"
        >
          <div class="work-img">
            <img
              class="work-img"
              src="/trystavisim/media/rangers-cover-www.jpg"
              width="150"
              height="150"
              alt="Рейнджери"
            />
          </div>
          <div class="work-intro">
            <h3 class="work-title">Рейнджери</h3>
            <div class="work-descr">Official Video, 2016</div>
          </div>
        </a>
      </li>
      <!-- End Work Item -->
      <!-- Work Item -->
      <li class="work-item mix video mix_all" style="display: inline-block;  opacity: 1;">
        <a
          href="/trystavisim/ajax/trystavisim/media/varosh-banda"
          class="work-item-link"
          data-hash="varosh-banda"
        >
          <div class="work-img">
            <img
              class="work-img"
              src="/trystavisim/media/varosh-banda-media-cover.jpg"
              width="150"
              height="150"
              alt="Варош банда"
            />
          </div>
          <div class="work-intro">
            <h3 class="work-title">Варош банда</h3>
            <div class="work-descr">Official Video, 2015</div>
          </div>
        </a>
      </li>
      <!-- End Work Item -->
      <!-- Work Item -->
      <li class="work-item mix video mix_all" style="display: inline-block;  opacity: 1;">
        <a
          href="/trystavisim/ajax/trystavisim/media/nasha-fajta2"
          class="work-item-link"
          data-hash="nasha-fajta2"
        >
          <div class="work-img">
            <img
              class="work-img"
              src="/trystavisim/media/nasha-faita-media-cover.jpg"
              width="150"
              height="150"
              alt="Наша Файта"
            />
          </div>
          <div class="work-intro">
            <h3 class="work-title">Наша Файта</h3>
            <div class="work-descr">Official Video, 2015</div>
          </div>
        </a>
      </li>
      <!-- End Work Item -->
      <!-- Work Item -->
      <li class="work-item mix video mix_all" style="display: inline-block;  opacity: 1;">
        <a
          href="/trystavisim/ajax/trystavisim/media/pujdu-prujdus-live"
          class="work-item-link"
          data-hash="pujdu-prujdus-live"
        >
          <div class="work-img">
            <img
              class="work-img"
              src="/trystavisim/media/TRYSTAVISIM-Live-2016-pujdu.jpg"
              width="150"
              height="150"
              alt="Пуйду пруйдусь (Live)"
            />
          </div>
          <div class="work-intro">
            <h3 class="work-title">Пуйду пруйдусь (Live)</h3>
            <div class="work-descr">Live, 2015</div>
          </div>
        </a>
      </li>
      <!-- End Work Item -->
      <!-- Work Item -->
      <li class="work-item mix video mix_all" style="display: inline-block;  opacity: 1;">
        <a
          href="/trystavisim/ajax/trystavisim/media/nasha-fajta-music-video"
          class="work-item-link"
          data-hash="nasha-fajta-music-video"
        >
          <div class="work-img">
            <img
              class="work-img"
              src="/trystavisim/media/nasha_faita_studio_cover_cut_fx_500.jpg"
              width="150"
              height="150"
              alt="Наша Файта // Music Video"
            />
          </div>
          <div class="work-intro">
            <h3 class="work-title">Наша Файта // Music Video</h3>
            <div class="work-descr">Music Video, 2014</div>
          </div>
        </a>
      </li>
      <!-- End Work Item -->
      <!-- Work Item -->
      <li class="work-item mix video mix_all" style="display: inline-block;  opacity: 1;">
        <a
          href="/trystavisim/ajax/trystavisim/media/dislokaciya"
          class="work-item-link"
          data-hash="dislokaciya"
        >
          <div class="work-img">
            <img
              class="work-img"
              src="/trystavisim/media/dislocacija_cover_500.jpg"
              width="150"
              height="150"
              alt="Дислокація"
            />
          </div>
          <div class="work-intro">
            <h3 class="work-title">Дислокація</h3>
            <div class="work-descr">Official Video, 2013</div>
          </div>
        </a>
      </li>
      <!-- End Work Item -->
    </ul>
    <!-- End Works Grid -->
    <div class="section-text"></div>
  </section>
  <!-- End Portfolio Section -->
  <!-- Call Action Block -->
  <section class="small-section dark-bg image-bg">
    <div class="bg-overlay-1"></div>
    <div class="container bg-content">
      <div class="row">
        <div class="col-md-8 col-lg-6 col-lg-offset-2 banner-text">
          <!-- Text -->
          <h3 class="banner-heading">Як нас знайти?</h3>
          <div class="banner-decription">
            <p>
              Пишіть, дзвоніть, заходьте в гості – ми вас нагодуємо бограчем, шовдарем і
              закарпатським винком!
            </p>
          </div>
        </div>
        <div class="col-md-4 col-lg-2 banner-button">
          <!-- Button -->
          <a href="https://trystavisim.com/#Contacts" class="btn btn-spacia btn-w btn-large"
            >Зв’язатися</a
          >
        </div>
      </div>
    </div>
  </section>
  <!-- End Call Action Block -->
  <!-- About Us Section -->
  <section class="page-section" id="Pro-gurt">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
          <div class="section-title">Про гурт</div>
          <h2 class="section-heading">В карпатському дусі рок-н-ролл м’юзік</h2>
          <div class="section-text margin-bot-null">
            Триставісім — рок-гурт з особливою енергетикою і драйвом. Рокову основу вдало поєднує з
            напористими колоритними мелодіями, в яких впізнаються карпато-балканські мотиви.<br />На
            виступах гурт багато уваги приділяє контакту між глядачами і музикантами. Кожен з
            учасників гурту намагається максимально доповнити загальний вигляд і звучання гурту
            своєю харизмою та грою на інструменті.<br />Гурт багато гастролює по Україні та за її
            межами, даючи при цьому яскраві, емоційні та потужні живі шоу.
          </div>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
          <a href="https://trystavisim.com/#Nasha-fajta" class="btn btn-spacia btn-medium"
            >ТРИСТАВІСІМ</a
          >
        </div>
      </div>
    </div>
  </section>
  <!-- End About Us Section -->
  <!-- Team Section -->
  <section
    style="background-image: url(https://trystavisim.com/var/plain_site/storage/trystavisim/images/media2/trystavisim/images/faita-bg-min/12253-1-ukr-UA/faita-bg-min.jpg)"
    class="small-section dark-bg image-color-bg team-section"
    id="TRISTAVIISIIM"
  >
    <div class="bg-overlay-2"></div>
    <div class="container bg-content">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
          <h2 class="section-heading">ТРИСТАВІСІМ</h2>
          <div class="section-text">
            „Кіть ми разом то то є сила, кіть ми по парам - то любов, і по-одному сильні теж неначе
            ведміді ми - березна в жилах тече кров!”
          </div>
        </div>
      </div>
      <div class="team-grid">
        <!-- Team Item-->
        <div class="team-item js-clickable go-fade-in" style="opacity: 0;">
          <!-- Photo, Name and Status -->
          <div class="team-photo">
            <img
              src="/trystavisim/media/teamElkin.png"
              width="150"
              height="150"
              alt="trystavisim-person"
            />
          </div>
          <div class="team-name">Сергій Єлагін</div>
          <div class="team-status">Гітара</div>
          <!-- Full CV Information -->
          <div class="team-cv">
            <div class="team-description">
              <p><b>Твій девіз щодня?</b>&nbsp;<br />- Just smile :)</p>
              <p>
                <b>Що б файного послухати?</b>&nbsp;<br />- Bobby McFerrin - Don't Worry Be Happy
              </p>
            </div>
            <address class="team-contacts">
              <strong>Contacts</strong>
              <br />
            </address>
            <div class="team-social-links">
              <a href="https://www.facebook.com/serzh.yeloff" title="Facebook"
                ><i class="fa fa-facebook"></i></a
              >
              <a href="http://vk.com/yeloff" title="Vkontakte"><i class="fa fa-vk"></i></a>
            </div>
          </div>
          <!-- End Full CV Information -->
        </div>
        <!-- End Team Item-->
        <!-- Team Item-->
        <div class="team-item js-clickable go-fade-in" style="opacity: 0;">
          <!-- Photo, Name and Status -->
          <div class="team-photo">
            <img
              src="/trystavisim/media/teamIgor.png"
              width="150"
              height="150"
              alt="trystavisim-person"
            />
          </div>
          <div class="team-name">Ігор Магада</div>
          <div class="team-status">Барабани</div>
          <!-- Full CV Information -->
          <div class="team-cv">
            <div class="team-description">
              <p><b>Твій девіз щодня?&nbsp;<br /></b>- Music is my aeroplane! :)</p>
              <p><b>Що б файного послухати?<br />&nbsp;</b>- Ska-P – Ni Fu Ni Fa</p>
            </div>
            <address class="team-contacts">
              <strong>Contacts</strong>
              <br />
              igor@trystavisim.com
            </address>
            <div class="team-social-links">
              <a href="https://www.facebook.com/profile.php?id=100005282469942" title="Facebook"
                ><i class="fa fa-facebook"></i></a
              >
              <a href="http://vk.com/id40943264" title="Vkontakte"><i class="fa fa-vk"></i></a>
              <a href="mailtop:igor@trystavisim.com" title="E-mail"
                ><i class="fa fa-envelope"></i></a
              >
            </div>
          </div>
          <!-- End Full CV Information -->
        </div>
        <!-- End Team Item-->
        <!-- Team Item-->
        <div class="team-item js-clickable go-fade-in" style="opacity: 0;">
          <!-- Photo, Name and Status -->
          <div class="team-photo">
            <img
              src="/trystavisim/media/teamVova.png"
              width="150"
              height="150"
              alt="trystavisim-person"
            />
          </div>
          <div class="team-name">Володимир Щобак</div>
          <div class="team-status">Труба, бек-вокал</div>
          <!-- Full CV Information -->
          <div class="team-cv">
            <div class="team-description">
              <p><b>Твій девіз щодня?<br />&nbsp;</b>- Чуваки, всьо чотко!</p>
              <p>
                <b>Що б файного послухати?<br />&nbsp;</b>- Maceo Parker! А взагалі, слухайте якісну
                українську музику!
              </p>
            </div>
            <address class="team-contacts">
              <strong>Contacts</strong>
              <br />
              jezztrompet@gmail.com
            </address>
            <div class="team-social-links">
              <a href="https://www.facebook.com/vovatrusta8isim" title="Facebook"
                ><i class="fa fa-facebook"></i></a
              >
              <a href="http://vk.com/vovatrusta8isim" title="Vkontakte"><i class="fa fa-vk"></i></a>
              <a href="mailtop:jezztrompet@gmail.com" title="E-mail"
                ><i class="fa fa-envelope"></i></a
              >
            </div>
          </div>
          <!-- End Full CV Information -->
        </div>
        <!-- End Team Item-->
        <!-- Team Item-->
        <div class="team-item js-clickable go-fade-in" style="opacity: 0;">
          <!-- Photo, Name and Status -->
          <div class="team-photo">
            <img
              src="/trystavisim/media/teamPasha.png"
              width="150"
              height="150"
              alt="trystavisim-person"
            />
          </div>
          <div class="team-name">Павло Генов</div>
          <div class="team-status">Вокал, гітара</div>
          <!-- Full CV Information -->
          <div class="team-cv">
            <div class="team-description">
              <p><b>Твій девіз щодня?<br /></b>- Кить ми разом — то є сила!</p>
              <p><b>Що б файного послухати?<br /></b>- Youngblood Brass Band - Brooklyn</p>
            </div>
            <address class="team-contacts">
              <strong>Contacts</strong>
              <br />
              paul@trystavisim.com
            </address>
            <div class="team-social-links">
              <a href="https://www.facebook.com/paul.genov" title="Facebook"
                ><i class="fa fa-facebook"></i></a
              >
              <a href="http://vk.com/paulgenov" title="Vkontakte"><i class="fa fa-vk"></i></a>
              <a href="mailtop:paul@trystavisim.com" title="E-mail"
                ><i class="fa fa-envelope"></i></a
              >
            </div>
          </div>
          <!-- End Full CV Information -->
        </div>
        <!-- End Team Item-->
        <!-- Team Item-->
        <div class="team-item js-clickable go-fade-in" style="opacity: 0;">
          <!-- Photo, Name and Status -->
          <div class="team-photo">
            <img
              src="/trystavisim/media/teamMukulcja.png"
              width="150"
              height="150"
              alt="trystavisim-person"
            />
          </div>
          <div class="team-name">Станіслав Микульця</div>
          <div class="team-status">Акордеон, бек-вокал</div>
          <!-- Full CV Information -->
          <div class="team-cv">
            <div class="team-description">
              <p>
                <b>Твій девіз щодня?</b><br />&nbsp;- "Марья Прокофьевна с засученными рукавами
                клала на подушки сдобный крендель."
              </p>
              <p><b>Що б файного послухати?<br /></b>- Michael Jackson - Billie Jean</p>
            </div>
            <address class="team-contacts">
              <strong>Contacts</strong>
            </address>
            <div class="team-social-links">
              <a href="https://www.facebook.com/profile.php?id=100002373953028" title="Facebook"
                ><i class="fa fa-facebook"></i></a
              >
              <a href="http://vk.com/id174622487" title="Vkontakte"><i class="fa fa-vk"></i></a>
            </div>
          </div>
          <!-- End Full CV Information -->
        </div>
        <!-- End Team Item-->
        <!-- Team Item-->
        <div class="team-item js-clickable go-fade-in" style="opacity: 0;">
          <!-- Photo, Name and Status -->
          <div class="team-photo">
            <img
              src="/trystavisim/media/teamShap.png"
              width="150"
              height="150"
              alt="trystavisim-person"
            />
          </div>
          <div class="team-name">Андрій Шаповалов</div>
          <div class="team-status">Бас-гітара</div>
          <!-- Full CV Information -->
          <div class="team-cv">
            <div class="team-description">
              <p><b>Твій девіз щодня?<br />&nbsp;</b>- Одним зайцем двух зайцев.</p>
              <p><b>Що б файного послухати?<br /></b>- Marcus Miller - Power</p>
            </div>
            <address class="team-contacts">
              <strong>Contacts</strong>
              <br />
              shapxxx@gmail.com
            </address>
            <div class="team-social-links">
              <a href="https://www.facebook.com/andrey.shapovalov1" title="Facebook"
                ><i class="fa fa-facebook"></i></a
              >
              <a href="http://vk.com/shapxxx" title="Vkontakte"><i class="fa fa-vk"></i></a>
              <a href="mailtop:shapxxx@gmail.com" title="E-mail"><i class="fa fa-envelope"></i></a>
            </div>
          </div>
          <!-- End Full CV Information -->
        </div>
        <!-- End Team Item-->
        <!-- Team Item-->
        <div class="team-item js-clickable go-fade-in" style="opacity: 0;">
          <!-- Photo, Name and Status -->
          <div class="team-photo">
            <img
              src="/trystavisim/media/teamOrex.png"
              width="150"
              height="150"
              alt="trystavisim-person"
            />
          </div>
          <div class="team-name">Олег Орєшніков</div>
          <div class="team-status">Звукорежисер</div>
          <!-- Full CV Information -->
          <div class="team-cv">
            <div class="team-description">
              <p><b>Твій девіз щодня?<br />&nbsp;</b>- Eat. Sleep. Aikido.</p>
              <p><b>Що б файного послухати?<br />&nbsp;</b>- Послухайте себе :)</p>
            </div>
            <address class="team-contacts">
              <strong>Contacts</strong>
              <br />
              solist.sound@gmail.com
            </address>
            <div class="team-social-links">
              <a href="https://www.facebook.com/solist.sound" title="Facebook"
                ><i class="fa fa-facebook"></i></a
              >
              <a href="http://vk.com/o.oreshnikov" title="Vkontakte"><i class="fa fa-vk"></i></a>
              <a href="mailtop:solist.sound@gmail.com" title="E-mail"
                ><i class="fa fa-envelope"></i></a
              >
            </div>
          </div>
          <!-- End Full CV Information -->
        </div>
        <!-- End Team Item-->
      </div>
      <!-- Container for opened team item  -->
      <div class="team-opened-wrap" style="opacity: 0;"></div>
      <br />
      <br />
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
          <a href="/istoriya" class="btn btn-spacia btn-w btn-medium">Історія</a>
        </div>
      </div>
    </div>
  </section>
  <!-- Team Section -->
  <!-- Clients Section -->
  <section class="page-section padding-bot-null" id="Druzi">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
          <div class="section-title">Друзі</div>
          <h2 class="section-heading">Свої люди є завжди всюди!</h2>
          <div class="section-text">
            <p>
              Дякуємо нашим друзям, партнерам та колегам за підтримку та за те, що вони завжди
              поруч:
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Clients Logos -->
    <div class="clients-logos">
      <!-- Copy logos row if you need more logos -->
      <div class="clients-logos-row">
        <a
          href="http://solist.in.ua/"
          target="_blank"
          title="SOLIST. Технічне обслуговування масових заходів."
          class="client-item"
          rel="noopener"
        >
          <img src="/trystavisim/media/solist.jpg" alt="SOLIST" />
        </a>
        <a
          href="http://solist.in.ua/Virobnictvo/Kejsi-reki"
          target="_blank"
          title="Axiom.Реки и кейси"
          class="client-item"
          rel="noopener"
        >
          <img src="/trystavisim/media/axiom_gray.jpg" alt="Axiom" />
        </a>
        <a
          href="http://tysa1.tv/index.php/tysa-fm-online.html"
          target="_blank"
          title="Тиса FM. Музика яку ви маєте знати!"
          class="client-item"
          rel="noopener"
        >
          <img src="/trystavisim/media/tysafm.jpg" alt="Tysafm" />
        </a>
        <a
          href="http://vk.com/uzh_guitars"
          target="_blank"
          title="Uzh-guitars"
          class="client-item"
          rel="noopener"
        >
          <img src="/trystavisim/media/Uzh-guitars.jpg" alt="Uzh-guitars" />
        </a>
        <a
          href="http://vk.com/club6712469"
          target="_blank"
          title="Chicarrones Shator. Ungvar Party League"
          class="client-item"
          rel="noopener"
        >
          <img src="/trystavisim/media/chicarrones.jpg" alt="Chicarrones" />
        </a>
        <a
          href="http://dailymetal.com.ua/"
          target="_blank"
          title="Веб-журнал про рок i метал музику."
          class="client-item"
          rel="noopener"
        >
          <img src="/trystavisim/media/dailymetal-logo.png" alt="Daily Metal" />
        </a>
      </div>
    </div>
    <!-- End Clients Logos -->
  </section>
  <!-- Reviews -->
  <div class="small-section gray-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
          <div class="text-carousel">
            <div class="tc-icon">
              <i class="fa fa-quote-left"></i>
            </div>
            <div class="tc-content">
              <!-- Review -->
              <div class="bx-wrapper" style="max-width: 100%; margin: 0px auto;">
                <div
                  class="bx-viewport"
                  style="width: 100%; overflow: hidden; position: relative; height: 78px;"
                >
                  <ul class="tc-slider clients-slider" style="width: auto; position: relative;">
                    <li
                      style="float: none; list-style: none; position: absolute; width: 750px; z-index: 0; display: none;"
                    >
                      <blockquote class="client-review">
                        ... Вони просто винесли присутніх своєю енергетикою і драйвом, який вони
                        дарували зі сцени. Їх виступ як завжди був неперевершеним і усі залюбки
                        відірвались під “рок-ен-ролл мюзік в карпатському дусі”. (:
                      </blockquote>
                      <!-- Author -->
                      <div class="tc-author">Андрій Возняк, fest4u.com</div>
                    </li>
                    <li
                      style="float: none; list-style: none; position: absolute; width: 750px; z-index: 50; display: block;"
                    >
                      <blockquote class="client-review">
                        Драйвові хлопці прокачали слухачів, дай боже кожному.
                      </blockquote>
                      <!-- Author -->
                      <div class="tc-author">Стасян, krockyrock.com.ua</div>
                    </li>
                    <li
                      style="float: none; list-style: none; position: absolute; width: 750px; z-index: 0; display: none;"
                    >
                      <blockquote class="client-review">
                        Кохані Триставісім, респект вам!
                      </blockquote>
                      <!-- Author -->
                      <div class="tc-author">Larisa Sulimenko</div>
                    </li>
                  </ul>
                </div>
                <div class="bx-controls"></div>
              </div>
            </div>
            <!-- Arrows -->
            <div class="tc-arrows animate" id="tc-controls-2">
              <div class="tc-arrow-left">
                <a class="bx-prev" href="https://trystavisim.com/"
                  ><i class="fa fa-angle-left"></i></a
                >
              </div>
              <div class="tc-arrow-right">
                <a class="bx-next" href="https://trystavisim.com/"
                  ><i class="fa fa-angle-right"></i></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Reviews -->
  <!-- Contacts Section -->
  <section class="page-section contacts" id="Contacts">
    <div class="container margin-bot">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
          <div class="section-title">Контакти</div>
          <h2 class="section-heading">Тримаймо зв'язок</h2>
          <div class="section-text">
            З питань організації концертів гурту, участі в благодійних акціях, інтерв'ю пишіть нам
            на адресу
            <a href="mailto:info@trystavisim.com">info@trystavisim.com</a>, або дзвоніть нам <span
              class="color">+38 095 487-55-50 (Viber)</span
            >. Раді спілкуванню!
          </div>
          <div class="phone go-fade-in" style="opacity: 0;">
            <div class="phone-title">
              <div class="phone-icon"><i class="fa fa-phone"></i></div>
            </div>
            <!-- Enter your phone number here -->
            <div class="phone-number" style="font-size: 60.0065px;">
              +38 095 487-55-50 (Viber)
              <br />
              trysta8isim@gmail.com
            </div>
          </div>
          <div class="row">
            <!-- Address Block -->
            <div class="col-sm-6 col-md-6 col-lg-6 contact-block go-fade-in" style="opacity: 0;">
              <div class="contact-icon">
                <a href="https://trystavisim.com/#"><i class="fa fa-file-text"></i></a>
              </div>
              <div class="contact-text">
                <a
                  href="https://trystavisim.com/content/download/389/6673/file/TRYSTAVISIM_TechRider_(ua).pdf"
                  >Технічний райдер</a
                >
              </div>
            </div>
            <!-- Address Block -->
            <div class="col-sm-6 col-md-6 col-lg-6 contact-block go-fade-in" style="opacity: 0;">
              <div class="contact-icon">
                <i class="fa fa-map-marker"></i>
              </div>
              <div class="contact-text">
                <!-- Enter your address here -->
                м. Ужгород, Закарпаття, Україна
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Google Map -->
    <div class="google-map">
      <div data-address="Uzhgorod, Ukraine" data-text="Варош Банда!" id="map-canvas">
        <div style="height: 100%; width: 100%;"></div>
      </div>
    </div>
    <!-- End Google Map -->
    <!-- White Overspace on Map -->
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
          <div class="contact-overspace"></div>
        </div>
      </div>
    </div>
    <!-- End White Overspace on Map -->
    <!-- Contacts Form Container -->
    <div class="container map-fix">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
          <div class="contact-form-wrap">
            <div class="form-error"></div>
            <!-- Form -->
            <form
              method="post"
              enctype="multipart/form-data"
              action="https://trystavisim.com/layout/set/ajax_post/content/action"
              id="form"
              role="form"
              class="form contact-form go-fade-in"
              style="opacity: 0;"
            >
              <!-- Form Heading -->
              <h3 class="small-section-heading align-center">Є питання? Пишіть нам!</h3>
              <!-- Name -->
              <div class="form-group">
                <input
                  tabindex="2"
                  class="form-control"
                  type="text"
                  size="70"
                  name="ContentObjectAttribute_ezstring_data_text_207"
                  value="Ім’я"
                  data-default="Ім'я"
                  placeholder="Ім’я"
                  min="3"
                  max="100"
                  required=""
                />
              </div>
              <!-- Email -->
              <div class="form-group">
                <input
                  tabindex="3"
                  class="form-control"
                  type="text"
                  size="70"
                  name="ContentObjectAttribute_data_text_208"
                  value="Email"
                  data-default="Email"
                  placeholder="Email"
                  min="5"
                  max="100"
                  required=""
                />
              </div>
              <!-- Message -->
              <div class="form-group">
                <textarea
                  id="text"
                  tabindex="4"
                  class="form-control"
                  name="ContentObjectAttribute_data_text_210"
                  cols="50"
                  rows="10"
                  data-default="Повідомлення"
                  placeholder="Повідомлення"
                  min="5"
                  max="400"
                  required="">Повідомлення</textarea
                >
              </div>
              <!-- Send Button -->
              <button
                type="submit"
                name="ActionCollectInformation"
                class="btn btn-spacia btn-medium btn-full"
              >
                Відправити
              </button>
              <input type="hidden" name="ContentNodeID" value="63" />
              <input type="hidden" name="ContentObjectID" value="61" />
              <input type="hidden" name="ViewMode" value="full" />
              <input type="hidden" name="ActionCollectInformation" />
            </form>
            <!-- End Form -->
            <!-- Success Message -->
            <div class="form-success"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Contacts Form Container -->
  </section>
</PageLayout>
