---
import PageLayout from '../layouts/PageLayout.astro'
---

<PageLayout>
  <section
    style="background-image: url(/images/full-width-images/tour-1.jpg)"
    class="page-section padding-bot-null margin-bot dark-bg image-bg"
  >
    <div class="bg-overlay-1"></div>
    <div class="container bg-content">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
          <div class="section-title">Історія</div>
          <h1 class="section-heading">ТРИСТАВІСІМ</h1>
        </div>
      </div>
    </div>
  </section>

  <section class="text-center padding-top-null" id="about-us">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
          <!-- Shortcode Title -->
          <h2 class="shortcode-title color">Український рок-гурт, заснований в Ужгороді</h2>
          <!-- End Shortcode Title -->
          <div class="section-text margin-bot-null">
            <p class="text-left">
              Триставісім сміливо можна назвати відкриттям фестивального літа 2013 року в
              українській музиці.
            </p>
            <p class="text-left">
              На початку весни 2013 року гурт видав дебютний міні-альбом <a
                class="usually"
                href="/Muzika/PERCHA"
                target="_self">«Перча»</a
              >, який був дуже добре сприйнятий більшістю поціновувачів живої драйвової музики.
              &nbsp;Не дивлячись на те, що в альбом ввійшло всього п’ять пісень, це не завадило
              гурту давати повноцінні півторагодинні драйвові шоу.&nbsp;В підтримку альбому гурт
              об’їздив більшість міст західної України і виступив на більшості фестивалів України:
              «Карпатський протяг», «Рурисько», «Підкамінь»,&nbsp;«Файне місто», «Music Bike
              Ukraine», «Франко-Місія», «ЗАХІД», «Львівська забава».
            </p>
            <p class="text-left">
              Протягом літа 2013 року Триставісім прийняли участь у зйомках телевізійних програм: на
              Першому Національному каналі в програмі «Фольк-music» та на каналі ТВІ в програмі <a
                class="usually"
                href="/Muzika/Live-at-TVi"
                target="_self">«Музика для дорослих з Марією Бурмакою»</a
              >. Також було&nbsp;відзнято дебютний кліп на пісню <a
                class="usually"
                href="/Muzika/Dislokaciya"
                target="_self">«Дислокація»</a
              >. Пісні з альбому «Перча»&nbsp;можна почути на багатьох українських радіостанціях, а
              також вони є доступними для прослуховування та завантаження в інтернеті.
            </p>
            <p class="text-left">
              На початку весни 2014 року гурт почав роботу над дебютним повноформатним альбомом під
              назвою «Лачо». Пізніше було анонсовано початок туру «Latcho Tour 2014 / Round 1» в
              підтримку альбому, який стартував «Великим концертом» в Ужгороді, де вперше було
              презентовано пісні з альбому. Під час концерту відбулась також і презентація
              офіційного студійного відео на пісню <a
                class="usually"
                href="/Muzika/Nasha-Fajta-Music-Video"
                target="_self">«Наша файта»</a
              >, зйомки якого відбувались під час запису альбому на власній студії гурту.&nbsp;В
              рамках оголошеного туру гурт дав ряд концертів в Україні та закордоном, на даний
              момент відвідавши такі міста як Київ, Львів, Тернопіль, Луцьк, Хмельницький, та
              фестивалі - «ЗАХІД», «Файне місто», «Лемківська ватра в Ждині» (Польща), «Черемош
              фест», «Країна мрій«, «Мальованка» та інші.
            </p>
            <p class="text-left">
              З переліком всіх виступів можна ознайомитись в <a
                class="usually"
                href="/arhiv-koncertiv"
                target="_self">архіві концертів</a
              >.
            </p><a
              href="http://uk.wikipedia.org/wiki/%D0%A2%D1%80%D0%B8%D1%81%D1%82%D0%B08%D1%96%D1%81%D1%96%D0%BC"
              ><i class="fa fa-puzzle-piece"></i> Триставісім в Вікіпедії</a
            >
            <p></p>
            <hr />
            <p></p>
            <p><b>Дивіться також:</b></p>
            <p>
              <a class="usually" href="/Muzika/Live-at-TVi" target="_self"
                ><i class="fa fa-youtube-play"></i>&nbsp;Триставісім в «Музиці для дорослих з Марією
                Бурмакою»</a
              >
            </p>
            <p>
              <a class="usually" href="/Muzika/Dislokaciya" target="_self"
                ><i class="fa fa-youtube-play"></i>&nbsp;Дислокація (Official Video)</a
              >
            </p>
            <p>
              <a class="usually" href="/Muzika/Nasha-Fajta-Music-Video" target="_self"
                ><i class="fa fa-youtube-play"></i>&nbsp;Наша Файта (In Studio)</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</PageLayout>
